<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="small">
      Star Wars character list
    </ion-title>
  </ion-toolbar>
  <ion-searchbar
  (ionChange)="filter($event)"
  *ngIf="platform.is('android')"
  ></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">
        Star Wars character list
      </ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar  style="z-index:999999999999"
      (ionChange)="filter($event)"
      ></ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <h2 class="mid" *ngIf ="characters.length == 0 && keyword == '' && !filmsLoaded ">Loading Characters</h2>
  <ion-spinner *ngIf ="characters.length == 0  && keyword == '' && !filmsLoaded "></ion-spinner>
  <h2 class="mid" *ngIf ="characters.length == 0 && keyword != ''">No Data Available</h2>

  
  <ion-list  id="datalist" #datalist>
    <ion-item *ngFor="let character of characters"  [routerLink]="['/character/' + character.id ]">
      <ion-label class="ion-text-wrap">
        <h2>
          {{ character.name   }}
        </h2>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more character...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>